{% extends 'templates/base.html' %}

{% load static %}

{% block title %} Gestion de Proyectos - Inicio {% endblock %}

{% block background %}{% static 'app_prueba/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
{% endblock %}

{% block content %}


  <!--Cambios Jime - FORMULARIO-->
  <div class="form-login">
    <img src="{% static 'Login/images/profile-icon.png' %}" alt="" class="img-form" />
    <h5>¡Bienvenido!<h6>¿Qué tal tu día hoy?</h6>
    </h5>
    <input class="controls" type="text" name="usuario" value="" placeholder="Usuario" />
    <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña" />

    <a href="index.html"><input class="buttons" type="submit" name="" value="Ingresar" /></a>
    <p class="subtext"><a href clave="#">Olvide mi clave</a></p>
    <p class="subtext"><a href="{%url 'register'%}">Registrarme</a></p>
  </div>
  <!-- Terminan los cambios de Jime -->
{%endblock%}