{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
	/>
	<style>
        @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
	</style>
	<link rel="stylesheet" href="{% static 'Login/css/styles-reg.css' %}"/>
	<link rel="shortcut icon" href="{% static 'Login\static\Login\images\LOGO-SMALL-BLUE-BACKGROUND.svg' %}"/>
	<title>ITBANK-Registro</title>
</head>

<body>
<header>
	<nav align="center" class="img-cabecera">
		<a href="#"
		><img class="logo-header" src="{% static 'Login/images/logo-azul-grande.jpg' %}"
		/></a>
	</nav>
</header>

<div class="form-login">
	{% if form.errors %}
		<p>Los datos ingresados no son correctos. Por favor, intente nuevamente con otros datos</p>
	{% endif %}

	<h5>Vamos a crear tu usuario :)</h5>
	<div class="datos-form-1">
		<form action="{% url 'register' %}" method="post">
			{% csrf_token %}

			{{ form.as_p }}
			<input class="buttons" type="submit" name="" value="Crear cuenta"/>


		</form>
	</div>
</div>


<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"
></script>
</body>
</html>
