
{% extends 'templates/base.html' %}

{% load static %}

{% block title %} Gestion de Proyectos - Inicio {% endblock %}

{% block background %}{% static 'app_prueba/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
{% endblock %}

{% block content %}

    <div class="form-login">
      <h5>Vamos a crear tu usuario :)</h5>
      <div class="datos-form-1">
        <input
          class="controls"
          type="text"
          name="nombre"
          value=""
          placeholder="Nombre"
        />
        <input
          class="controls"
          type="text"
          name="apellido"
          value=""
          placeholder="Apellido"
        />
      </div>
      <input
        class="controls"
        type="text"
        name="dni"
        value=""
        placeholder="DNI"
      />
      <div class="datos-form-1">
        <input
          class="controls"
          type="text"
          name="usuario"
          value=""
          placeholder="Usuario"
        />
        <input
          class="controls"
          type="password"
          name="contrasena"
          value=""
          placeholder="Contraseña"
        />
      </div>
      <a href="index.html"
        ><input class="buttons" type="submit" name="" value="Crear cuenta"
      /></a>
      <p class="clave-olvide"><a href="{%url 'login'%}">Cancelar</a></p>
    </div>
    
    {%endblock%}