<footer class="footer">
    <div class="container">
        <div class="footer-menu">
            <p>Ayuda</p>
            <hr style="border-color: #E5ECF3;
            border-style: solid;
            background-color: #E5ECF3;
            border-width: 2px;">
            <br>

            <ul class="footer-menu__item">
                <li><a href="#" class="footer-menu__link">Preguntas frecuentes</a></li>
                <li><a href="#" class="footer-menu__link">Términos y condiciones</a></li>
        </div>
        <div class="footer-menu">
            <p>Redes sociales</p>
            <hr style="border-color: #E5ECF3;
            border-style: solid;
            background-color: #E5ECF3;
            border-width: 2px;">
            <br>

            <ul class="footer-menu__item2">
                <li><a href="#"><img src="{% static 'Login/images/twitter.svg' %}" class="footer-menu__icon" alt="Icono de twitter"></a>
                </li>
                <li><a href="#"><img src="{% static 'Login/images/instagram.svg' %}" class="footer-menu__icon"
                            alt="Icono de Instagram"></a></li>
                <li><a href="#"><img src="{% static 'Login/images/institucional.svg' %}" class="footer-menu__icon"
                            alt="Icon página web institucional"></a></li>

        </div>
        <div>
            <p class="footer-copy">Itbank.com.ar</p>
        </div>
    </div>
</footer>